extends layout

block content

  div Contact Info:

  form(class='my-form' enctype="multipart/form-data" method='POST')
    label(for="inp" class='inp')
      input(type="text" name='first' class='myinput' autocomplete='off' value=undefined === first ? '' : first)
      span(class='label') first name
      span(class='focus-bg')
    label(for="inp" class='inp')
      input(type="text" name='last' class='myinput' autocomplete='off' value=undefined === last ? '' : last)
      span(class='label') last name
      span(class='focus-bg')
    label(for="inp" class='inp')
      input(type="tel" name='phone' class='myinput' autocomplete='off' value=undefined === phone ? '' : phone)
      span(class='label') phone number
      span(class='focus-bg')
    label(for="inp" class='inp')
      input(type="email" name='email' class='myinput' autocomplete='off' value=undefined === email ? '' : email)
      span(class='label') email
      span(class='focus-bg')
    div [optional] For a quicker quote, submit your energy bill
    label(for='upload-input' class='upload-label')
      input(type="file" id="myFile" name="filename" )
    button(class='submit-btn') submit



  if errors
    ul(class='errors')
      each error in errors
        li!= error.msg
